<p-toast position="top-center"></p-toast>
<div class="content">
    <div class="content-header card p-3 flex align-items-center justify-content-between">
        <div class="title">
            <h1>Editar un proveedor</h1>
            <p>En este espacio podrás editar un proveedor de la aplicación</p>
        </div>
        <div class="btn-back">
            <button pButton pRipple label="Regresar" icon="pi pi-angle-left" class="p-button-secondary" (click)="goBack()"></button>
        </div>
    </div>
    <div class="content-body card">
        <app-proveedores-edit [type]="type" [idToEdit]="idToEdit" [proveedor]="proveedor" (manejoProveedores)="editarProveedor($event)"></app-proveedores-edit>
    </div>
</div>
