<p-table [value]="mesas" styleClass="p-datatable-gridlines" responsiveLayout="scroll"
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
    currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} elementos" 
    [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="caption">
        Tabla de mesas
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="text-align: center;">descripción</th>
            <th style="text-align: center;">Numero de mesa</th>
            <th style="text-align: center;">Editar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mesa>
        <tr>
            <td style="text-align: center;">{{mesa.descripcion}}</td>
            <td style="text-align: center;">{{mesa.numMesa}}</td>
            <td style="text-align: center;"><p-button icon="pi pi-pencil" (click)="goToEdit(mesa.idMesa)"></p-button></td>
        </tr>
    </ng-template>
</p-table>
