<form [formGroup]="form" (ngSubmit)="handleSede()" *ngIf="showTable">
    <div class="input flex flex-column ">
        <label for="float-input" class="text-lg mb-2">Nombre</label>
        <input type="text" pInputText placeholder="nombre de sede" formControlName="nombre"> 
    </div>
    <div class="input flex flex-column mt-3">
        <label for="float-input" class="text-lg mb-2">Descripción</label>
        <input type="text" pInputText placeholder="Descripción de sede" formControlName="descripcion"> 
    </div>
    <div class="input flex flex-column mt-3">
        <label for="float-input" class="text-lg mb-2">Usuarios</label>
        <p-multiSelect [options]="usuarios" formControlName="usuarios" defaultLabel="Seleccione usuarios" optionLabel="nombre" selectedItemsLabel="{0} usuarios seleccionados"></p-multiSelect>

    </div>
    <div class="holder-btn">
        <button *ngIf="type === 'create'" pButton pRipple type="submit" label="Crear sede" class="p-button-primary w-full mt-3" [disabled]="!valid"></button>
        <button *ngIf="type === 'edit'" pButton pRipple type="submit" label="Editar sede" class="p-button-primary w-full mt-3" [disabled]="!valid"></button>
    </div>
</form>

