<p-table [value]="sedes" styleClass="p-datatable-gridlines" responsiveLayout="scroll"
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
    currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} elementos" 
    [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="caption">
        Tabla de sedes
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="text-align: center;">Nombre</th>
            <th style="text-align: center;">Descripción</th>
            <th style="text-align: center;">Mesas</th>
            <th style="text-align: center;">Usuarios</th>
            <th style="text-align: center;">Editar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sede>
        <tr>
            <td style="text-align: center;">{{sede.nombre}}</td>
            <td style="text-align: center;">{{sede.descripcion}}</td>
            <td style="text-align: center;"><span *ngFor="let mesa of sede.mesas">{{mesa.descripcion}}, </span></td>
            <td style="text-align: center;"><span *ngFor="let usuario of sede.usuarios">{{usuario.nombre}}, </span></td>
            <td style="text-align: center;"><p-button icon="pi pi-pencil" (click)="goToEdit(sede.idSede)"></p-button></td>
        </tr>
    </ng-template>
</p-table>
