<p-toast position="top-center"></p-toast>
<div class="content">
    <div class="content-header p-card p-3 flex align-items-center justify-content-between">
        <div class="title">
            <h1>Editar un permiso</h1>
            <p>Aquí podrás editar un permiso de la aplicación</p>
        </div>
        <div class="btn-back">
            <button pButton pRipple label="Regresar" icon="pi pi-angle-left" class="p-button-secondary" (click)="goBack()"></button>
        </div>
    </div>
    <div class="content-body p-card mt-3 p-3">
        <app-permisos-edit *ngIf="permiso" [type]="type" [idToEdit]="idToEdit" [permiso]="permiso" (handlePermisos)="editarPermiso($event)"></app-permisos-edit>
    </div>
</div>
