<form [formGroup]="form" (ngSubmit)="manejoProducto()">
    <div class="input flex flex-column ">
        <label for="float-input" class="text-lg mb-2">Nombre</label>
        <input type="text" pInputText placeholder="nombre de producto" formControlName="nombre"> 
    </div>
    <div class="input flex flex-column mt-3">
        <label for="float-input" class="text-lg mb-2">Marca</label>
        <input type="text" pInputText placeholder="Marca del producto" formControlName="marca"> 
    </div>
    <div class="holder-btn">
        <button *ngIf="type === 'create'" pButton pRipple type="submit" label="Crear producto" class="p-button-primary w-full mt-3" [disabled]="!valid"></button>
        <button *ngIf="type === 'edit'" pButton pRipple type="submit" label="Editar producto" class="p-button-primary w-full mt-3" [disabled]="!valid"></button>
    </div>
</form>
