<p-toast position="top-center"></p-toast>
<div class="content">
    <div class="content-header p-card p-3 flex align-items-center justify-content-between">
        <div class="title">
            <h1>Gestión de un pedido</h1>
            <p>Aquí podrás gestionar un pedido en curso de una mesa de la aplicación</p>
        </div>
        <div class="btn-back">
            <button pButton pRipple label="Regresar" icon="pi pi-angle-left" class="p-button-secondary" (click)="goBack()"></button>
        </div>
    </div>
    <div class="content-body p-card mt-3 p-3">

    </div>
</div>